@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.main-container .image {
    width: 390px; /* iPhone 15 screen width */
    height: 100px;
    max-height: 40vh;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 20px #077b32;
    border: 2px solid white; /* Adjusted border size to fit */
}

.main-container .image img {
    width: 100%;
    height: 100;
}

.main-container .image:hover {
    animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.05;
    }
    100% {
        scale: 1;
    }
}

@media (max-width: 430px) {
    .main-container .image {
        width: 100%; /* Full width for smaller screens */
        max-width: 390px; /* iPhone 15 width */
        height: auto;
    }
}
